*{
    margin:0;
    padding: 0;
}
.home{
    /* position: relative; */
    display: block;
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
}
.homeImg{
    width: 100%;
    height: 718px;
}
.h-nav{
    text-decoration: none;
    color: rgb(0, 52, 0);
    font-weight: 600;
}
.h-p1{
    position: absolute;
    top: 20%;
    color: rgb(230, 255, 230);
    font-size: 45px;
    font-weight: bold;
    
    width: 100%;
    text-align: center;
}
.h-p2{
    position: absolute;
    top: 35%;
    color: rgb(239, 239, 239);
    text-align: center;
    font-size: 23px;
    width: 100%;
}
.h-button{
    height: 50px;
    width: 250px;
    position: absolute;
    top: 45%;
    left: 41.5%;
    background-color: rgb(154, 228, 154);
    font-size: 22px;
    border-radius: 10px;
}
.h-button:hover {
    background-color: rgb(137, 188, 137);
  }